<h4>Añadir/Editar supermercado</h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col">

                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Dirección</label>
            <div class="col">

                <input class="form-control" type="text" placeholder="Dirección" formControlName="direccion" [class.is-invalid]="direccionNoValido">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Razón social</label>
            <div class="col">

                <input class="form-control" type="text" placeholder="Razón social" formControlName="razonsocial" [class.is-invalid]="rsNoValido">
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col">

            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo" [class.is-invalid]="correoNoValido">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Télefono</label>
        <div class="col">

            <input class="form-control" type="email" placeholder="(...) ......." formControlName="telefono" [class.is-invalid]="telefonoNoValido">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>
</form>