<h4>Formulario para gregar departamentos y trabajadores</h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div class="form-group row">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col">

            <input class="form-control" type="text" placeholder="Nombre del departamento" formControlName="ndepartamento" [class.is-invalid]="ndepartamentoNoValido">
        </div>
    </div>

    <div class="row">
        <div class="col">

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>N°</th>
                        <th>ID </th>
                        <th>Nombre </th>
                        <th>Apelidos </th>
                        <th>Telefono</th>
                        <th>Días laborales</th>
                    </tr>
                </thead>

                <tbody formArrayName="trabajadores">
                    <tr *ngFor="let control of trabajadores.controls; let i = index">
                        <td> {{ i + 1 }} </td>
                        <td> <input class="form-control" type="text" [formControlName]="i"> </td>
                        <td> <input class="form-control" type="text" [formControlName]="i"> </td>
                        <td> <input class="form-control" type="text" [formControlName]="i"> </td>
                        <td> <input class="form-control" type="number" [formControlName]="i"> </td>
                        <td> <input class="form-control" type="number" [formControlName]="i"> </td>

                        <td>
                            <button class="btn btn-danger" (click)="borrarTrabajador(i)">
                                Borrar
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>

            <button class="btn btn-primary mt-3 mb-5" type="button" (click)="agregarTrabajador()"> Agregar otro</button>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar/Registrar
      </button>
        </div>
    </div>
</form>