<h1>Acciones</h1>
<!-- Three columns of text below the carousel -->
<div class="row">
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Departamentos</h2>
        <p>Editar o añadir nuevo</p>
        <p><a [routerLink]="['registro-departamentos']" class="btn btn-secondary" role="button">Registrar &raquo;</a></p>
    </div>

    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Encargado</h2>
        <p>Editar o añadir nuevo</p>
        <p><a [routerLink]="['registro-encargado']" class="btn btn-secondary" role="button">Registrar &raquo;</a></p>
    </div>

    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Supermercado</h2>
        <p>Editar o añadir nuevo</p>
        <p><a [routerLink]="['registro-supermercado']" class="btn btn-secondary" role="button">Registrar &raquo;</a></p>
    </div>

    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Trabajadores</h2>
        <p>Editar o añadir nuevo</p>
        <p><a [routerLink]="['registro-trabajadores']" class="btn btn-secondary" role="button">Registrar &raquo;</a></p>
    </div>
</div>