<h4>Registrar/editar nuevo encargado</h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col">

                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col">

                <input class="form-control" type="text" placeholder="Apellido" formControlName="apellidos" [class.is-invalid]="apellidosNoValido">
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col">

            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo" [class.is-invalid]="correoNoValido">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Télefono</label>
        <div class="col">

            <input class="form-control" type="number" placeholder="999-9999-999" formControlName="telefono" [class.is-invalid]="telefonoNoValido">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Fecha</label>
        <div class="col">

            <input class="form-control" type="date" placeholder="Correo electrónico" formControlName="fecha" [class.is-invalid]="fechaNoValido">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Género</label>
        <div class="col">

            <input class="form-control" type="radio" value="hombre" formControlName="genero" [class.is-invalid]="genNoValido">
            <label class="form-check-label">Hombre</label>
        </div>

        <div class="col">
            <input class="form-control" type="radio" value="mujer" formControlName="genero" [class.is-invalid]="genNoValido">
            <label class="form-check-label">Mujer</label>

        </div>


    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Contraseña</label>
        <div class="col">

            <input class="form-control" type="password" placeholder="Contraseña" formControlName="pass" [class.is-invalid]="passNoValido">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Contraseña</label>
        <div class="col">

            <input class="form-control" type="password" placeholder="Repita contraseña" formControlName="confpass" [class.is-invalid]="confpassNoValido">
        </div>
    </div>


    <!--
    <div class="form-group row" formGroupName="contrasena">
        <label class="col-2 col-form-label">Contrasena</label>
        <div class="form-row col">

            <div class="col">
                <input type="text" class="form-control" placeholder="contraseña" formControlName="original" [class.is-invalid]="conNoValido">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="confirma tu contraseña" formControlName="confirmacion" [class.is-invalid]="confconNoValido">
            </div>



        </div>
    </div>
-->

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>
</form>