<h4>Formularios <small> tipo </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col">

                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellidos</label>
            <div class="col">

                <input class="form-control" type="text" placeholder="Apellidos" formControlName="apellidos" [class.is-invalid]="apellidosNoValido">
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Días laborales</label>
        <div class="col">
            <input class="form-control" type="number" placeholder="N° días" formControlName="diaslab" [class.is-invalid]="diasNoValido">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">ID</label>
        <div class="col">

            <input class="form-control" type="text" placeholder="Clave de empleado" formControlName="id" [class.is-inval|id]="idNoValido">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Télefono</label>
        <div class="col">

            <input class="form-control" type="number" placeholder="(...) ......." formControlName="telefono" [class.is-invalid]="telefonoNoValido">
        </div>
    </div>


    <!--
    <div class="form-group row" formGroupName="contrasena">
        <label class="col-2 col-form-label">Contrasena</label>
        <div class="form-row col">

            <div class="col">
                <input type="text" class="form-control" placeholder="contraseña" formControlName="original" [class.is-invalid]="conNoValido">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="confirma tu contraseña" formControlName="confirmacion" [class.is-invalid]="confconNoValido">
            </div>



        </div>
    </div>
-->

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>
</form>