<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Menu principal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">-->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['landing']">Landing Supermercado</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['registro']"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
            <li><a [routerLink]="['login']"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
        </ul>
    </div>
</nav>